{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}

    <div><img src="{% static 'images/bg.jpg' %}"></div>&nbsp;
    <div>
        <h2 style="font-size:20px">关于自己</h2>
        <p style="font-size:15px">&nbsp;&nbsp;&nbsp;&nbsp;对于自己，其实也没啥好说的。与大多数平凡人一样，上着周而复始的班，花着所剩无几的工资，看着不切实际的电影，想着有你的日子。。。</p>
        <p style="font-size:15px">&nbsp;&nbsp;&nbsp;&nbsp;梦想一定要有的，万一实现呢？</p>
        <p style="font-size:15px">&nbsp;&nbsp;&nbsp;&nbsp;Call Me：819748566(QQ)</p>
    </div>
    </br>

{#    <div id="commentform">#}
{#    <h3 id="respond">留言</h3>#}
{##}
{#    <form action="{% url 'comment_post' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <p><label for="author">昵称:</label>{{ comment_form.author }}<label style="color:red">*</label>#}
{#        <input class="comment_input" id="author" maxlength="50" name="author" required="required" size="25" tabindex="1" value="" type="text">#}
{#    </p>#}
{##}
{#    <p><label for="email">邮箱:</label>{{ comment_form.email }}<label style="color:red">*</label>#}
{#        <input class="comment_input" id="email" maxlength="50" name="email" required="required" size="25" tabindex="2" value="" type="email">#}
{#    </p>#}
{##}
{#    <p><label for="url">地址:</label>{{ comment_form.url }}&nbsp;&nbsp;&nbsp;#}
{#        <input class="comment_input" id="url" maxlength="100" name="url" size="25" tabindex="3" type="url">#}
{#    </p>#}
{##}
{##}
{#        <p>{{ comment_form.comment }}#}
{#            <textarea class="message_input" cols="25" id="comment" name="comment" required="required" rows="5" tabindex="4"></textarea>#}
{#        </p>#}
{##}
{#    <p>#}
{#        {{ comment_form.article }}#}
{#        <input name="submit" type="submit" id="submit" tabindex="5" value="提交留言" class="button" />#}
{#    </p>#}
{##}
{#    </form>#}
{#    </div>#}
{% endblock %}
