{% extends 'base.html' %}
{% load staticfiles %}
{% block left_content %}

    <div><img src="{% static 'images/bg.jpg' %}"></div>&nbsp;
    <div>
        <h2 style="font-size:20px">关于自己</h2>
        <p style="font-size:15px">&nbsp;&nbsp;&nbsp;&nbsp;对于自己，其实也没啥好说的。与大多数平凡人一样，上着周而复始的班，花着所剩无几的工资，看着不切实际的电影，想着有你的日子。。。</p>
        <p style="font-size:15px">&nbsp;&nbsp;&nbsp;&nbsp;梦想一定要有的，万一实现呢？</p>
        <p style="font-size:15px">&nbsp;&nbsp;&nbsp;&nbsp;Call Me：819748566(QQ)</p>
    </div>


{% endblock %}
