{% extends 'base.html' %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
</head>
{% load staticfiles %}
{% block left_content %}

    <div class="topnews">
      <h2>博客目录</h2>
        {% for article in article_list%}
      <div class="blogs">
        <ul>
          <h3><a href="{% url 'article' %}?id={{ article.id }}">{{ article.title }}</a></h3>
          <p>{{ article.desc }}</p>
          <p class="autor"><span class="lm f_l">{% for tag in article.tag.all %}<a href="{% url 'tag' %}?id={{ tag.id }}">{{ tag.name }}</a>{% endfor %}</span><span class="postmeta_author">{{ article.user.username }}</span><span class="dtime f_l">{{ article.date_publish | date:'Y-m-d' }}</span><span class="pingl f_r"><a href="{% url 'article' %}?id={{ article.id }}">评论（{{ article.comment_set.all.count }}）</a></span></p>
        </ul>
      </div>
        {% endfor %}
    </div>
    {% include 'pagination.html' %}

{% endblock %}
</body>
</html>